.illustration-rond {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    border: 1px solid lightgray;
}

.illustration-fond {
    background: linear-gradient(
            to bottom right,
            var(--couleur-gradient-principal),
            var(--couleur-gradient-secondaire)
    );
}

.cercle-orange {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--couleur-allergene-orange-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.halo-cercle-orange {
    width: 55%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
}


.cercle-vert-transparent {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--couleur-allergene-vert-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cercle-vert {
    width: 65%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--couleur-allergene-vert-2);
}


.illustration-container {
    position: relative;
}